<h1>create new campgrounds</h1>

<form action="/campgrounds" method="post">
	<input type="text" name="camp" placeholder="campgrounds name">
	<input type="text" name="image" placeholder="image url">
	<input type="text" name="description" placeholder="description">
	<button>submit</button>
	<a href="/campgrounds">Go Back</a>
</form>
