<h1>Description</h1>
<a href="/campgrounds/<%=campgrounds._id%>/comments/new">Add New Comment</a>
<div>
<p><%=campgrounds.name%></p>
<img src="<%=campgrounds.image%>">
<p><%=campgrounds.description%></p>

<a href="/campgrounds">Go Back</a>

